// Core Integrations & Tweaks
prefer-no-csd

// Startup Applications
spawn-sh-at-startup "quickshell --path ~/NixConfig/modules/features/niri-quickshell/config/bar.qml"
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg -i ~/Pictures/wallpaper -m fill"

// Environment Variables
environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
}

//  Cursor
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
}

// Input Peripheral Options
input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 200
        repeat-rate 35
    }
    touchpad {
        tap
        natural-scroll
    }
    focus-follows-mouse
    warp-mouse-to-focus mode="center-xy"
}

// Layout and Aesthetic Options
layout {
    gaps 12
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.333
        proportion 0.5
        proportion 0.667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#7aa2f7"
        inactive-color "#414868"
    }

    border {
        off
    }
}

output "eDP-1" {
  mode "1920x1080@60.056"
}

// Global Window Management Rules
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

// Window rules
window-rule {
  match app-id="org.qutebrowser.qutebrowser"
  open-maximized false
  open-fullscreen false
  default-column-width { proportion 1.0; }
}

// Core Keyboard Shortcuts
binds {
    // Application Launchers
    Mod+Return hotkey-overlay-title="Open foot" { spawn "foot"; }
    Mod+Space hotkey-overlay-title="Toggle vicinae" { spawn "vicinae" "toggle"; }
    Mod+E hotkey-overlay-title="Open Yazi" { spawn "foot" "-e" "yazi"; }

    // Window Interacting
    Mod+Q { close-window; }
    Mod+M { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+C { center-column; }
    Mod+O { toggle-overview; }

    // Focus Navigation (Horizontal plane)
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }

    // Moving Windows Around
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+L     { move-column-right; }

    Mod+Equal { set-column-width "+50"; }
    Mod+Minus { set-column-width "-50"; }
    Mod+Shift+Equal { set-column-width "50%"; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Column Merging / Splitting (Tiling controls)
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+R            { switch-preset-column-width; }

    // Workspace Management
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Up   { focus-window-or-workspace-up; }
    Mod+J         { focus-window-or-workspace-down; }
    Mod+K         { focus-window-or-workspace-up; }

    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Up   { move-column-to-workspace-up; }
    Mod+Shift+J         { move-column-to-workspace-down; }
    Mod+Shift+K         { move-column-to-workspace-up; }

    // System Utilities
    Mod+Shift+E { quit; }
    Mod+S { spawn "sh" "-c" "grim -g \"$(slurp)\" - | tee \"$HOME/Pictures/Screenshot_$(date +'%Y-%m-%d_%H-%M-%S').png\" | wl-copy"; }


    // Brightness Control
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
    XF86MonBrightnessUp   { spawn "brightnessctl" "set" "5%+"; }

    // Media Playback
    XF86AudioPlay  { spawn "playerctl" "play-pause"; }
    XF86AudioNext  { spawn "playerctl" "next"; }
    XF86AudioPrev  { spawn "playerctl" "previous"; }
    XF86AudioStop  { spawn "playerctl" "stop"; }

    // Volume Control
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
}
